# JWT Secret Key used for signing and verifying JSON Web Tokens
JWT_SECRET=

# MongoDB connection string for connecting to the database
MONGODB_URL=

# Hostname of the mail server used for sending emails
MAIL_HOST=

# Username of the email account used for sending emails
MAIL_USER=

# Password of the email account used for sending emails
MAIL_PASS=

# Cloudinary credentials used for image and video uploads
CLOUD_NAME=
API_KEY=
API_SECRET=
FOLDER_NAME=

# Razorpay credentials used for payments
RAZORPAY_KEY=
RAZORPAY_SECRET=

# Server port
PORT=4000
